# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.pdb
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
ServoLogs

# Large media files (optional)
*.MOV
*.mp4
*.avi

# Results folders
Results/
results/
