# Virtual environments
.blink/
.venv/
venv
ServoLogs/

# Folders
**/logs/
results/
tmp/
.vs/
.idea/
Backups/
__pycache__/


# OS / Editor files
.DS_Store
Thumbs.db
*.pyc
*.swp

# Project files
*.log
*.json
*.txt
!requirements.txt



