
vars:
  - &Axis                       lift

  - &lowPos                     600
  - &highPos                    2000

  - &NegDirOvershootName        LiftLargeStepNegDir_Overshoot
  - &NegDirMaxV                 LiftLargeStepNegDir_MaxV
  - &NegDirMaxVinst             LiftLargeStepNegDir_MaxVinst
  - &NegDirMaxVinst_DelayTime   LiftLargeStepNegDir_DelayTime
  - &NegDirMaxVinst_Command     LiftLargeStepNegDir_Command

  - &NegDirCSVFile              LiftLargeStepNegDir_[COUNTER]

  - &PosDirOvershootName        LiftLargeStepPosDir_Overshoot
  - &PosDirMaxV                 LiftLargeStepPosDir_MaxV
  - &PosDirMaxVinst             LiftLargeStepPosDir_MaxVinst
  - &PosDirMaxVinst_DelayTime   LiftLargeStepPosDir_DelayTime
  - &PosDirMaxVinst_Command     LiftLargeStepPosDir_Command

  - &PosDirCSVFile              LiftLargeStepPosDir_[COUNTER]



Operations:

  - Type: SetDefAxis
    Axis: *Axis

  - Type: HydCommand
    TargetPos: *lowPos
  

  - Type: GetCurrentPos
    OutName: StartPosition

  - Type: GetLineNumber
    OutName: StartLineNumber

  - Type: HydCommand
    TargetPos: *highPos
  

  - Type: GetCurrentPos
    OutName: FinalPosition

  - Type: GetLineNumber
    OutName: FinalLineNumber

  - Type: MathOperation
    Input1: FinalPosition
    Input2: *highPos
    Operation: "-"
    Output: SmallPositiveStep

  - Type: OutputResult
    Input: SmallPositiveStep
    Output: *PosDirOvershootName

  - Type: OutputLogFile
    StartLineNumber: StartLineNumber
    EndLineNumber: FinalLineNumber
    Name: *PosDirCSVFile

  - Type: HydCommand
    TargetPos: *lowPos
  
  - Type: GetCurrentPos
    OutName: FinalPositionL

  - Type: GetLineNumber
    OutName: FinalLineNumberL

  - Type: MathOperation
    Input1: *lowPos
    Input2: FinalPositionL
    Operation: "-"
    Output: OvershootInNegDirection

  - Type: OutputResult
    Input: OvershootInNegDirection
    Output: *NegDirOvershootName 

  - Type: OutputLogFile
    StartLineNumber: FinalLineNumber
    EndLineNumber: FinalLineNumberL
    Name: *NegDirCSVFile


