
vars:
  - &Axis                       sideshift

  - &lowPos                     -60
  - &highPos                    60

  - &NegDirOvershootName        SideshiftLargeStepNegDir_Overshoot
  # - &NegDirMaxV                 SideshiftLargeStepNegDir_MaxV
  # - &NegDirMaxVinst             SideshiftLargeStepNegDir_MaxVinst
  # - &NegDirMaxVinst_DelayTime   SideshiftLargeStepNegDir_DelayTime
  # - &NegDirMaxVinst_Command     SideshiftLargeStepNegDir_Command

  - &NegDirCSVFile              SideshiftLargeStepNegDir_[COUNTER]

  - &PosDirOvershootName        SideshiftLargeStepPosDir_Overshoot
  # - &PosDirMaxV                 SideshiftLargeStepPosDir_MaxV
  # - &PosDirMaxVinst             SideshiftLargeStepPosDir_MaxVinst
  # - &PosDirMaxVinst_DelayTime   SideshiftLargeStepPosDir_DelayTime
  # - &PosDirMaxVinst_Command     SideshiftLargeStepPosDir_Command

  - &PosDirCSVFile              SideshiftLargeStepPosDir_[COUNTER]



Operations:

  - Type: SetDefAxis
    Axis: *Axis

  - Type: HydCommand
    TargetPos: *lowPos
  

  - Type: GetCurrentPos
    OutName: StartPosition

  - Type: GetLineNumber
    OutName: StartLineNumber

  - Type: HydCommand
    TargetPos: *highPos
  

  - Type: GetCurrentPos
    OutName: FinalPosition

  - Type: GetLineNumber
    OutName: FinalLineNumber

  - Type: MathOperation
    Input1: FinalPosition
    Input2: *highPos
    Operation: "-"
    Output: SmallPositiveStep

  - Type: OutputResult
    Input: SmallPositiveStep
    Output: *PosDirOvershootName

  - Type: OutputLogFile
    StartLineNumber: StartLineNumber
    EndLineNumber: FinalLineNumber
    Name: *PosDirCSVFile

  - Type: HydCommand
    TargetPos: *lowPos
  
  - Type: GetCurrentPos
    OutName: FinalPositionL

  - Type: GetLineNumber
    OutName: FinalLineNumberL

  - Type: MathOperation
    Input1: *lowPos
    Input2: FinalPositionL
    Operation: "-"
    Output: OvershootInNegDirection

  - Type: OutputResult
    Input: OvershootInNegDirection
    Output: *NegDirOvershootName 

  - Type: OutputLogFile
    StartLineNumber: FinalLineNumber
    EndLineNumber: FinalLineNumberL
    Name: *NegDirCSVFile


