vars:
  - &Axis                       lift

  - &lowPos                     600
  - &step                       10

  - &NegDirOvershootName        LiftSmallStepNegDirOvershoot
  - &NegDirMaxV                 LiftSmallStepNegDir_MaxV
  - &NegDirMaxVinst             LiftSmallStepNegDir_MaxVinst
  - &NegDirMaxVinst_DelayTime   LiftSmallStepNegDir_DelayTime
  - &NegDirMaxVinst_Command     LiftSmallStepNegDir_Command

  - &NegDirCSVFile              LiftSmallStepNegDir_[COUNTER]


  - &PosDirOvershootName        LiftSmallStepPosDirOvershoot
  - &PosDirMaxV                 LiftSmallStepPosDir_MaxV
  - &PosDirMaxVinst             LiftSmallStepPosDir_MaxVinst
  - &PosDirMaxVinst_DelayTime   LiftSmallStepPosDir_DelayTime
  - &PosDirMaxVinst_Command     LiftSmallStepPosDir_Command

  - &PosDirCSVFile              LiftSmallStepPosDir_[COUNTER]

Operations:

  - Type: SetDefAxis
    Axis: *Axis

  - Type: HydCommand
    TargetPos: *lowPos
  

  - Type: GetCurrentPos
    OutName: StartPosition

  - Type: GetLineNumber
    OutName: StartLineNumber

  - Type: MathOperation
    Input1: StartPosition
    Input2: *step
    Operation: "+"
    Output: PositiveTargetPos

  - Type: HydCommand
    TargetPos: PositiveTargetPos
  

  - Type: GetCurrentPos
    OutName: FinalPosition

  - Type: GetLineNumber
    OutName: FinalLineNumber

  - Type: MathOperation
    Input1: FinalPosition
    Input2: PositiveTargetPos
    Operation: "-"
    Output: SmallPositiveStep

  - Type: OutputResult
    Input: SmallPositiveStep
    Output: *PosDirOvershootName

  - Type: OutputLogFile
    StartLineNumber: StartLineNumber
    EndLineNumber: FinalLineNumber
    Name: *PosDirCSVFile

  - Type: MathOperation
    Input1: FinalPosition
    Input2: *step
    Operation: "-"
    Output: LowTargetPos

  - Type: HydCommand
    TargetPos: LowTargetPos
  
  - Type: GetCurrentPos
    OutName: FinalPositionL

  - Type: GetLineNumber
    OutName: FinalLineNumberL

  - Type: MathOperation
    Input1: LowTargetPos
    Input2: FinalPositionL
    Operation: "-"
    Output: OvershootInNegDirection

  - Type: OutputResult
    Input: OvershootInNegDirection
    Output: *NegDirOvershootName 

  - Type: OutputLogFile
    StartLineNumber: FinalLineNumber
    EndLineNumber: FinalLineNumberL
    Name: *NegDirCSVFile
